.create-list {
  display: flex;
  flex-direction: column;
  top: 50px;
  padding: 50px;
  min-height: 50vh;
  background-image: url("../../../assets/Mario.jpg");
  background-size: cover;
  background-position: fixed;
  color: white;
}

input {
  background: rgba(255,255,255, 0.5)
}