.list-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#list-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}