<div class="card" id="home">
  <h1><b>Welcome to IVGR!</b></h1>
  <carousel [isAnimated]="true">
    <slide>
      <img src="https://cdn.mos.cms.futurecdn.net/Kuuyu5VZoVxqZxy48swupn-1024-80.jpg.webp" alt="The Doom Slayer" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3><b>Keep it Fun</b></h3>
        <p><b>Track Your Game Collection Online</b></p>
      </div>
    </slide>
    <slide>
      <img src="https://cdn.mos.cms.futurecdn.net/btnktaA7j5yRkHP8yrwxFE-970-80.jpg" alt="BioShock Infinite" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3><b>Easy To Use</b></h3>
        <p><b>Quick Access to Game Info For Over 350,000 Titles</b></p>
      </div>
    </slide>
    <slide>
      <img src="https://cdn.mos.cms.futurecdn.net/aJhwDEnggHDxJijTCLYj94-970-80.jpg" alt="Assassin' Creed: Odyssey" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3><b>Our Little Secret</b></h3>
        <p><b>Keep Everyone From Knowing How Much You Love Kirby</b></p>
      </div>
    </slide>
    <slide>
      <img src="https://cdn.mos.cms.futurecdn.net/evbWTfYHKmyTYefVCaFEFE-970-80.jpg" alt="Batman: Arkham Knight" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3><b>What Hackers?</b></h3>
        <p><b>Our JWT Technology Prevents Unwanted Access to Your Account</b></p>
      </div>
    </slide>
    <slide>
      <img src="https://cdn.mos.cms.futurecdn.net/LVHzE2G49bC7ubFo5QMcXb-970-80.jpg" alt="Fallout 4" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3><b>Begin Your Quest</b></h3>
        <p><b>Our JWT Technology Prevents Unwanted Access to Your Account</b></p>
      </div>
    </slide>
  </carousel>
  <br>
  <br>
  <div id="opening-credits">
    <h2><b>International Video Game Registry</b></h2>
    <p> Welcome to IVGR, a name I totally didn't rip off from <a href="https://www.imdb.com/" target="_blank" rel="noopener noreferrer">IMDB</a> (Thanks, Y'all).</p>
    <p>Powered by <a href="https://rawg.io/" target="_blank" rel="noopener noreferrer">RAWG API</a>, choose from over 350,000+ Game Titles and Expansions.</p>
  </div>
</div>